<div><h3>Welcome to NGX-Bootstrap demo components app!</h3></div>

<div class="row nav-bar">
  <div class="col-sm-3">
    <a routerLink="accordion" routerLinkActive="Active">Basic Accordion</a>
  </div>
  <div class="col-sm-3">
    <a routerLink="animated-accordion" routerLinkActive="Active">Animated Accordion</a>
  </div>
  <div class="col-sm-3">
    <a routerLink="carousel" routerLinkActive="Active">Carousel</a>
  </div> 
  <div class="col-sm-3">
    <a routerLink="ng-formly-demo" routerLinkActive="Active">Ng Formly Demo</a>
  </div> 
</div>



<router-outlet></router-outlet>